<% if @valid_input %>
  <h1 class="page-header"><%= @song.downcase.titleize %> <small><%= @artist.downcase.titleize %></small><%= link_to "Analyze another song!", root_path, class: "btn btn-default pull-right" %></h1>
  <h2 class="centered title">Final Verdict...<%= @sfw ? "Grandma approves!" : "Grandma disapproves." %></h2>

  <% if !@sfw %>
    <div class="row">
      <div class="col-lg-6">
        <% @uniq_isolated_bad_lines.each do |bad_word, bad_lines| %>
          <div class="alert alert-info">
            <h4><%= bad_lines.count %> unique instances of <i><%= bad_word.tr('aeiou', '*') %></i> found:</h4>
            <% bad_lines.each do |bad_line| %>
              <%= bad_line %><br />
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <br /><br />
  <% end %>


  <div class="col-lg-6" style="display:none">
    <% @isolated_bad_lines.each do |bad_word, bad_lines| %>
      <h4><%= bad_lines.count %> instances of <i><%= bad_word.tr('aeiou', '*') %></i> found:</h4>
      <% bad_lines.each do |bad_line| %>
        <%= bad_line %><br />
      <% end %>
    <% end %>
  </div>


  <p class="centered lyrics">
    <%= @highlighted_lyrics.html_safe %>
  </p>
<% else %>
  <h1 class="page-header">Oops...something went wrong!<%= link_to "Analyze another song!", root_path, class: "btn btn-default pull-right" %></h2>
  <div class="alert alert-danger"><%= @error_notice %></div>
<% end %>
